---
import MainLayout from "../layouts/MainLayout.astro";


const name = 'Yeison Martinez';
const title = 'Home Page';

---

<MainLayout title="Home page">
	<h1>{name}</h1>
	<p>Momento actual: { new Date().toLocaleTimeString() }</p>
	<p id="current-time"></p>
	
	<script>
		
		const currentTime: String = new Date().toLocaleTimeString();
	
		const paragraph = document.querySelector(
			'#current-time'
		) as HTMLParagraphElement;
		
		paragraph.innerText =  `Año actual ${currentTime}`;
	</script>
</MainLayout>

